<template name="layout">
  <div class="container">
    {{> header}}
    {{> meteorErrors}}
    <div id="main" class="row-fluid">
      {{> yield}}
    </div>
    <div id="mathjaxy">
{{#mathjax}}
<p>Let $(a_n)$, $(b_n)$ and $(c_n)$ be series
   of real numbers with $a_n\leq b_n\leq c_n$
   for each $n$. Supposing that $(a_n)$ and $(c_n)$
   are convergent to the same limit, $(b_n)$
   is also convergent, and moreover</p>
<p>
  <!-- this equation will be displayed -->
  $$
  \lim a_n=\lim b_n=\lim c_n.
  $$
</p>
{{/mathjax}}
    </div>
  </div>
</template>

